{% extends 'base.html' %}

{% block content %}
<h1>About Us</h1>

<h2>Meet the team!</h2>

<style>
    h2 {
        text-align: center;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='assets/grace.jpg') }}" alt="Image 1" class="img-fluid mb-3">
            <h4><bold>Grace Phillips</bold></h4>
            <h4><bold>CEO</bold></h4>
            <p>Hi! My name is Grace Phillips. I am a graduate student at Georgia College & State University. I became passionate for animals at a young age. My dream has been to always work with animals and I have made that dream into a reality. Thank you for the unwavering and constant support!</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='assets/kate.jpg') }}" alt="Image 2" class="img-fluid mb-3">

           <h4><bold>Kate Phillips</bold></h4>
            <h4><bold>Volunteer</bold></h4>
            <p>Hi everyone!. My name is Kate Phillips. I am an undergraduate student at Georgia College & State University with aspirations to become a veterinarian in the future. I spend most of my time volunteering for Grace's Animal Services.</p>
        </div>
    </div>
</div>




{% endblock %}