{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Filter Movies</h1>

 <!-- Form to filter movies by alphabet -->
    <form method="POST" action="{{ url_for('movies.filter_by_alphabet') }}" class="mb-4">
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <select class="form-control" name="alphabet_range">
                    <option value="a-e">A-E</option>
                    <option value="f-j">F-J</option>
                    <option value="k-o">K-O</option>
                    <option value="p-t">P-T</option>
                    <option value="u-z">U-Z</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Filter Movies Alphabetically</button>
            </div>
        </div>
    </form>

     <!-- Form to filter movies by decade -->
    <form method="POST" action="{{ url_for('movies.filter_by_decade') }}" class="mb-4">
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <select class="form-control" name="decade">
                    <option value="1980">1980s</option>
                    <option value="1990">1990s</option>
                    <option value="2000">2000s</option>
                    <option value="2010">2010s</option>
                    <option value="2020">2020s</option>
                </select>
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Filter by Decade</button>
            </div>
        </div>
    </form>

 <!-- Form to filter movies by genre -->
    <form method="POST" action="{{ url_for('movie_genres.filter_by_genre') }}" class="mb-4">
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <input type="text" class="form-control" name="genre_id" placeholder="Genre ID">
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Filter by Genre</button>
            </div>
        </div>
    </form>


    <!-- Table to display filtered movies -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Movie ID</th>
                    <th scope="col">Genre ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Release Year</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in all_movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.genre_id}}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.release_year }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>





{% endblock %}