{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1>Welcome to Grace's Animal Services</h1>
    <p>I, Grace, had found my love and passion for animals from a very young age. I created my business, Grace's Animal Services, to share my love for animals through different services and offerings. You can see more about our team, services offered, and basic animal care information across our website. Please feel free to contact us about any inquiries. I look forward to hearing from you. Thank you!</p>
    <br>
    <div class="image-container">
        <img src="{{ url_for('static', filename='assets/cat.jpg') }}" alt="cat" class="image-left" width="45%" height="45%">
        <img src="{{ url_for('static', filename='assets/frenchie.jpg') }}" alt="dog" class="image-right" width="45%" height="45%">
    </div>


</div>



{% endblock %}