{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1>Welcome!</h1>
    <p>I, Grace, had found my love and passion for books from a very young age. I created my business, Grace's Book Store, to share my love for books through the art of storytelling. You can see more about our team and books and services offered across our website. Please feel free to contact us about any inquiries. I look forward to hearing from you. Thank you!</p>
    <br>
    <div class="image-container">
        <img src="{{ url_for('static', filename='assets/books.jpg') }}" alt="books" class="image-center" width="45%" height="45%">

    </div>


</div>



{% endblock %}