{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1>Welcome!</h1>
    <p>I, Grace, had found my love and passion for movies from a very young age. Throughout this website, you can find available movies for rent by genre, title, and release year. In addition, users can add, edit, or delete movies if needed.</p>
    <br>
    <div class="image-container">
        <img src="{{ url_for('static', filename='assets/movies.jpg') }}" alt="movies" class="image-center" width="45%" height="45%">

    </div>


</div>



{% endblock %}