{% extends 'base.html' %}

{% block content %}
<h1>Services Offered</h1>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="box p-3 mb-3">
                <h4>Grooming</h4>
                <p>Prices vary according to dog size</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="box p-3 mb-3">
                <h4>Boarding</h4>
                <p>$35 per night</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="box p-3 mb-3">
                <h4>Premium Boarding</h4>
                <p>$55 per night</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="box p-3 mb-3">
                <h4>Training Services</h4>
                <p>$25 per hour</p>
            </div>
        </div>
    </div>
</div>

<style>
    .box {
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f8f9fa;
    }
</style>



{% endblock %}
