{% extends 'base.html' %}

{% block content %}
<h1>Services Offered</h1>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="box p-3 mb-3">
                <h4>Books</h4>
                <p>Prices vary according to book</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="box p-3 mb-3">
                <h4>Coffee</h4>
                <p>$5 per cup</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="box p-3 mb-3">
                <h4>Book Club</h4>
                <p>Free of Charge</p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="box p-3 mb-3">
                <h4>Book Trades</h4>
                <p>Prices vary accoriding to book</p>
            </div>
        </div>
    </div>
</div>

<style>
    .box {
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f8f9fa;
    }
</style>



{% endblock %}
