{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Update Genre</h1>

    <!-- Update Genre Form -->
    <form method="POST" action="{{ url_for('genres.update_genre', genre_id=genre.id) }}">
        <div class="form-group">
            <label for="genre_name">Genre Name</label>
            <input type="text" class="form-control" id="genre_name" name="genre_name" value="{{ genre.genre_name }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Genre</button>
        <a href="{{ url_for('genres.genre') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}
